// src/layouts/DashboardLayout.scss

@use '../styles/_variables' as v;
$sidebar-width: 250px;
$header-height: 90px; // Sesuaikan dengan padding header

.dashboard-app-container {
    display: flex;
    min-height: 100vh;
}

.main-content-area {
    margin-left: $sidebar-width;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.page-content-wrapper {
    flex-grow: 1;
    padding: 2rem;
    padding-top: $header-height; /* Memberi ruang untuk header yang fixed */
    background-color: v.$color-gray-50; 
}