// src/components/layout/Layout.scss

@use '../../styles/variables' as v; 
@use './Sidebar.scss'; 

$sidebar-width: 250px;

.app-layout {
    display: flex;
    min-height: 100vh;
    background-color: v.$color-gray-50; 
}

.main-content-area {
    width: 100%;
    padding-left: 0;
    transition: padding-left 0.3s ease-in-out;
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
        padding-left: $sidebar-width;
    }
}

.main-header {
    background-color: v.$color-gold-medium; // Background Header Emas
    padding: 1.5rem 2rem; 
    border-bottom: 5px solid v.$color-gold-dark; 
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 20;

    &__menu-btn {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin-right: 1rem;
        color: v.$color-gray-900;
        
        @media (min-width: 1024px) {
            display: none; 
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    
    &__title {
        font-size: 1.5rem;
        font-weight: 700;
        color: v.$color-gray-900;
    }
    
    &__user {
        font-size: 1rem;
        font-weight: 600;
        color: v.$color-gray-700;
    }
}

.main-page-content {
    flex-grow: 1;
    padding: 1.5rem;
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 25;
    
    @media (min-width: 1024px) {
        display: none; 
    }
}