// src/components/BudgetTable.scss

@use '../styles/_variables' as v;

.budget-table-container {
    overflow-x: auto;
    width: 100%;
    margin-top: 1.5rem;
    border: 1px solid v.$color-gray-200;
    border-radius: v.$border-radius-lg;
}

.budget-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.95rem;
    
    th, td {
        padding: 1rem 1.5rem;
        text-align: left;
        border-bottom: 1px solid v.$color-gray-100;
        vertical-align: middle;
    }
    
    th {
        background-color: v.$color-gray-50;
        color: v.$color-gray-700;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 0.8rem;
    }

    td {
        color: v.$color-gray-800;
    }
    
    tbody tr:hover {
        background-color: v.$color-gray-100;
    }
}

.percentage-badge {
    padding: 0.3rem 0.8rem;
    border-radius: v.$border-radius-md;
    font-weight: 600;
    
    &.status--safe { // Hijau: Realisasi < 70%
        background-color: v.$color-green-100;
        color: v.$color-green-600;
    }

    &.status--warning { // Kuning: 70% < Realisasi < 90%
        background-color: v.$color-yellow-100;
        color: v.$color-yellow-600;
    }
    
    &.status--critical { // Merah: Realisasi > 90%
        background-color: v.$color-red-100;
        color: v.$color-red-600;
    }
}