// src/components/ServiceRequestTable.scss

@use '../styles/variables' as v;

.sr-table-container {
    overflow-x: auto;
    width: 100%;
    margin-top: 1rem;
    border: 1px solid v.$color-gray-200;
    border-radius: v.$border-radius-lg;
}

.sr-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
    
    th, td {
        padding: 1rem 1.5rem;
        text-align: left;
        border-bottom: 1px solid v.$color-gray-100;
        vertical-align: middle;
    }
    
    th {
        background-color: v.$color-gray-50;
        color: v.$color-gray-700;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 0.8rem;
    }

    td {
        color: v.$color-gray-800;
    }
    
    tbody tr:last-child td {
        border-bottom: none;
    }

    tbody tr:hover {
        background-color: v.$color-gray-100;
    }
}

// Badge Status
.status-badge {
    padding: 0.4rem 0.75rem;
    border-radius: 9999px;
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: capitalize;
    display: inline-block;
    min-width: 90px;
    text-align: center;
    
    &.status--sr-success { // Selesai
        background-color: v.$color-green-100;
        color: v.$color-green-600;
    }

    &.status--sr-warning { // Tertunda (SLA)
        background-color: v.$color-yellow-100;
        color: v.$color-yellow-600;
    }
    
    &.status--sr-info { // Dalam Proses
        background-color: v.$color-indigo-50;
        color: v.$color-indigo-600;
    }
    
    &.status--sr-error { // Dibatalkan
        background-color: v.$color-red-100;
        color: v.$color-red-600;
    }
}

// Badge Prioritas
.priority-badge {
    padding: 0.2rem 0.6rem;
    border-radius: v.$border-radius-md;
    font-weight: 500;
    font-size: 0.8rem;
    
    &.priority--high {
        background-color: v.$color-red-500;
        color: v.$color-white;
    }
    &.priority--medium {
        background-color: v.$color-yellow-500;
        color: v.$color-white;
    }
    &.priority--low {
        background-color: v.$color-green-500;
        color: v.$color-white;
    }
}