// src/index.scss

@use './styles/variables' as v; // Menggunakan jalur ke subfolder styles

:root {
 
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  color: v.$dark-text;
  background-color: v.$dark-bg;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  
  width: 100%; 
}

h1 {
  
  font-size: 3.2em;
  line-height: 1.1;
}

a {
 
  font-weight: 500;
  color: v.$link-color;
  text-decoration: none;
}

a:hover {
 
  color: v.$link-hover-dark;
}



.default-button {
  
  border-radius: 8px; 
  border: 1px solid transparent;
  padding: 0.6em 1.2em; 
  font-size: 1em; 
  font-weight: 500;
  font-family: inherit;
  background-color: v.$dark-button;
  cursor: pointer;
  transition: border-color 0.25s; 
}

.default-button:hover {
  
  border-color: v.$link-color;
}

.default-button:focus,
.default-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



@media (prefers-color-scheme: light) {
  :root {
   
    color: v.$light-text;
    background-color: v.$color-white; // Menggunakan variabel white
  }
  
  a:hover {
    
    color: v.$light-link-hover;
  }

  .default-button {
    
    background-color: v.$light-button-bg;
  }
}